body {
    background-color: #0f172a;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 90px; 
    padding: 1opx;
}

img {
    width: 140px;
    height: 120px;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s; 
    border-radius: 10px;
}

img:active { 
    transform: scale(0.95); 
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 110px;
    color: aliceblue;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    font-size: 85px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -110px;
    text-align: right;
    margin-right: 240px;
    color: #df5d07;
}

h3 {
    background-color:aliceblue ;
    padding: 30px;
    text-align: center;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    background-color: aliceblue;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 10px;
    padding: 40px;
}

li{
    list-style-type: none;
}

section ul li a {
    text-align: center;
    margin-left: 130px;
    display: inline-block;
    padding: 15px 397px; 
    font-size: 22px; 
    width: 200px; 
    text-align: center; 
    background-color: aliceblue;
    color: #0f172a;
    text-decoration: none;
    border-radius: 10px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section ul li a:hover {
    color: black;
}

section ul li a:active{
    transform: scale(0.95); 
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}