body {
    background-color: #0f172a;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 70px;
}

.container {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    justify-content: center; /* centraliza na horizontal */
    gap: 30px; /* espaço entre os botões */
    max-width: 800px; /* largura máxima */
    margin: 50px auto; /* centraliza na tela */
}

.escolhidas {
    background-color: #1e293b;
    width: 325px;
    height: 180px;
    text-align: center;
    display: flex;
    align-items: center; /* centraliza verticalmente o texto */
    justify-content: center; /* centraliza horizontalmente o texto */
    border-radius: 15px;
    transition: transform 0.2s;
}

.escolhidas:hover {
    transform: scale(1.05);
}

.escolhidas a {
    display: flex; /* permite centralizar texto */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    margin-left: -30px;
    font-size: 30px;
}