body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: azure;
}

h2 {
  text-align: left;
  margin-left: 45px;
  font-size: 25px;
  color: azure;
  cursor: pointer;
  position: relative;

  background-color: #1e293b;
  margin: 10px 40px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-right: 85px;
}

h2:hover {
    background-color: rgba(255, 255, 255, 0.25);
}


.imagem-container {
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;            
    gap: 20px;                 
    justify-items: center;
}

.imagem {
    width: 280px;
    height: 360px;
    border-radius: 10px;
    position: relative;
}

.imagem:hover{
    transform: scale(1.2); 
    transition: 0.3s ease-in-out; 
    z-index: 10;
}

.oculto {
  display: none;
}

